html,
body { height: 100%; 
  width: 100%;
}

body {
  display: table;
  width: 100%;
  padding: 50px;
}


.text-right{
  text-align: right;
}

.black {
  background-color: black;
  color: blue;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fill img {
  flex-shrink: 0;
  max-width: 50%;
  max-height: 50%
}

.border-bottom {
  border-bottom: 10px solid;
}

.padding-block {
  padding-bottom: 15px
}
.content {
  padding: 48px 0px
}

.header {
  padding: 30px 0px;
  
}
.grayBlock {
  padding: 30px;
  border-style: solid;
  border-width: 1px;
  background: #F8F8F8;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.font-weight-m{
  font-weight: 500;
}

#links {
  font-size: xx-large;
}

.imgPort {
  height: 350px;
  width: 350px;
  padding: 10px 10px;
  float: both;
}

#navbar {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -75px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 9999;
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  margin-top: 10px;
  padding-top: 10px;
}

#proIcon {
  height: 26px;
  width: 26px;
}
#resIcon {
  height: 26px;
  width: 26px;
}
#folIcon {
  height: 26px;
  width: 26px;
}
#conIcon {
  height: 26px;
  width: 26px;
}