html,
body { height: 100%; 
  width: 100%;
}
.card {
  margin: 10px, 10px;
  padding: 10px, 10px;
  width: 24rem;
}
ul {
  padding: 20px 10px;
}
.text-right{
  text-align: right;
}

.black {
  background-color: black;
  color: blue;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fill img {
  flex-shrink: 0;
  max-width: 50%;
  max-height: 50%
}

.border-bottom {
  border-bottom: 10px solid;
}

.padding-block {
  padding-bottom: 15px
}
.content {
  padding: 48px 15px
}

.header {
  padding: 30px 0px;
  
}
.grayBlock {
  padding: 30px;
  border-style: solid;
  border-width: 1px;
  background: #F8F8F8;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.font-weight-m{
  font-weight: 500;
}

.splash {
  background-color: #333;
}
#links {
  font-size: xx-large;
  background-color: #333;
  color: white;
}

.imgPort {
  height: 350px;
  width: 350px;
  padding: 10px 10px;
  float: both;
}

#navbar {
  background-color: #333; 
  position: fixed;
  top: -200px; 
  width: 100%; 
  transition: top 0.3s; 
  z-index: 9999;
}


#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  margin-top: 10px;
  padding-top: 10px;
}

#proIcon {
  height: 26px;
  width: 26px;
}
#resIcon {
  height: 26px;
  width: 26px;
}
#folIcon {
  height: 26px;
  width: 26px;
}
#conIcon {
  height: 26px;
  width: 26px;
}
#gitIcon {
  height: 32px;
  width: 32px;
}
#linkIcon {
  height: 32px;
  width: 32px;
}

#aboutMe {
  padding: 25px 0px;
}
#resume {
  padding: 25px 0px;
}
#portfolio {
  padding: 25px 0px;
}
#contact {
  padding: 25px 0px;
}